<div class="page-header">
  <h1>Hackables <small>Getting started guides</small></h1>
</div>

<div class="row">
<div class="col-md-12">
    <%= render "layouts/flash" %>

<h1>Tags</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><b>Tag Title</b></th>
        <th><b>Associated Guides</b></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @tags.each do |t| %>
      <tr>
      <td>
      <%= link_to t.name, t %>
      </td>
      <td>
      <% t.guides.each do |g| %>
        <span class="label label-default"><%= link_to g.title, g %></span>
      <% end %>
      </td>
      <td>
      <%= link_to "<span class='glyphicon glyphicon glyphicon-pencil' aria-hidden='true'></span>".html_safe, edit_tag_path(t.id), :class=>"btn btn-primary btn-xs" %>
      </td>
      <td>
      <%= link_to "<span class='glyphicon glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, tag_path(t.id), :method => :delete, data:{confirm: "Do you want to remove tag from #{t.guides.length} " + "guide".pluralize(t.guides.length) + "."}, :class=>"btn btn-danger btn-xs" %>
      </td>
      </tr>

    <% end %>
  </table>

  <%= link_to "<span class='glyphicon glyphicon glyphicon-plus' aria-hidden='true'></span> Add Tag".html_safe, new_tag_path, :class=>"btn btn-default" %>

</div>
</div>

